.navLogo {
    width: 40px;
}

header {
    .navbar-brand {
        svg {
            width: auto;
            height: 50px;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
        }
    }
}

header {
    &.homepage {
        .navbar-brand {
            svg {
                width: auto;
                height: 0;
            }
        }
    }
}
.sticky-header {
    header { 
        background-color: $btnColor2;
        .navbar-brand {
            svg {
                width: auto;
                height: 40px;
            }
        }
        animation: headerBg 0.3s 1 ease-in;
        -webkit-animation: headerBg 0.3s 1 ease-in;
}
}
@keyframes headerBg {
    from{
        background-color: rgba(3, 140, 191, 0);
    }
    to{
        background-color: rgba(3, 140, 191, 1);
    }
}
@keyframes headerBgRev {
    from{
        background-color: rgba(3, 140, 191, 1);
    }
    to{
        background-color: rgba(3, 140, 191, 0);
    }
}
.hamburger {
    background-color: $btnColor2;

    .navbar-toggler-icon {
        background-image: none;

        .hamSvg {
            width: 18px;
        }
    }

    &:hover {
        background-color: $hamburgerButtonHover;
    }
}

.infoSection {
    p {
        color: #9E9B9B;
    }

    .infoBtn {
        background-color: $btnColor1;
        color: white;
        width: 150px;

        &.infoBtnChange {
            background-color: $btnColor2;

            &:hover {
                background-color: $btnColor2Hover;
            }
        }

        &:hover {
            background-color: $btnColor1Hover;
        }
    }

}
.exploreAllBtn{
    color: white;
    text-decoration: none;
    width: fit-content;
    .fa-arrow-right {
        margin-left: 10px;
    }

    &:hover {
        color: $btnColor2   ;
        .fa-arrow-right {
            margin-left: 15px;
}
    }
}

.homeServicePill {
    a {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        &:hover {
            background-color: $btnColor2;
            border-color: $btnColor2;
        }
    }
}
.homeServiceContainer {
    background-color: $serviceContainer;

    .homeServiceInnerContainer {
        color: white;
    }
}

.homeServiceTab {
    .nav-link {
        color: white;

        &.active {
            border-bottom: 1px solid white;
        }
    }
}

.homeServiceCard {
    color: black;
    .homeServiceIcon{
        height: 56px;
    }

    p {
        @media (min-width: 992px) {
            min-height: 90px;
        }
    }
}

.homeServiceBtn {
    a {
        color: white;
        border: 1px solid white;
        min-width: fit-content;

        &:hover {
            color: $serviceContainer;
            border: 1px solid white;
            background-color: white;
        }
    }

    hr {
        height: 2px;
        border: none;
        background-color: white;
    }

}

.square {
    aspect-ratio: 1/1;
}

.caseBtnHolder{
    position: absolute;
}

.seeMoreCaseBtn {
    background-color: black;
    color: white;
    &:hover, &:active, &:focus {
        background-color: $btnColor2 !important;
        color: white !important;
    }

}

.homeCaseCard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.greyHr {
    border-color: #818181;
    opacity: 1;
}

.backHr {
    opacity: 1;
    border-color: #000000;
}

.homeCaseBody {

    h4,
    p {
        @media (min-width: 668px) {
            min-height: 95px;
        }
    }

    p {
        color: #686868;
    }

    .caseBodyCompany {
        width: 60px;

        .caseBodyLogo {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
            width: fit-content;
            z-index: 1;
        }

        .caseBodyLogoText {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;

            &.nameA {
                background-color: #002B3B;
            }

            &.nameB {
                background-color: #DA8181;
            }

            &.nameC {
                background-color: #39A09A;
            }
        }
    }

    a {
        border: 1px solid #196A8C;
        color: #196A8C;

        &:hover {
            border: 1px solid #248ED8;
            background-color: #248ED8;
            color: white;
        }
    }
}

.homeAbout {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 26, 35, 0.7);
        z-index: -1;
    }

    .learnMoreBtn {
        background-color: #2397C8;
        max-width: fit-content;

        &:hover {
            background-color: #1e75b4;
        }
    }
}

.homeExpertCard {
    .homeExpertCardHead {
        overflow: hidden;
        position: relative;

        & > img {
            object-fit: cover;
            object-position: center;
            min-height: 100%;
            z-index: 1;
        }

        .homeExpertIcon {
            z-index: 2;
            position: absolute;
            bottom: 0;
            right: 0;

            a {
                background-color: $btnColor2;

                img {
                    max-width: 40px;
                    max-height: 40px;
                }

                &:hover {
                    background-color: $btnColor2Hover;
                }
            }
        }
    }
}

.homeContactSection {
    background-image: url('../images/leedsBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .leedHolder {
        color: white;
        background-color: #2397C8;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
            color: white;
            text-decoration: none;
            display: inline-flex;
            align-items: center;

            &:hover svg {
                transform: translateX(10px);
            }
        }
    }
}

.borderBottom {
    border-bottom: 1px solid black;
}

.homeNews {
    background-color: $homeNews;

    .resourceLink {
        text-decoration: none;
        color: #000000;
        border: 1px solid black;
        width: fit-content;
        min-width: 210px;

        @media (max-width: 768px) {}

        &:hover {
            background-color: black;
            color: white;

            svg {
                transform: translateX(10px);

                path {
                    fill: white;
                }
            }
        }
    }

    .homeBlogImage {
        aspect-ratio: 542/313;
        object-fit: cover;
        overflow: hidden;
    }

    hr {
        border: 1px solid #000000;
        opacity: 0.6;
    }

    .linkControl {
        a {
            color: #000000;

            &:hover {
                text-decoration: none;
            }
        }

        .homePlayButton {
            text-decoration: none;

            span {
                background-color: #0063d8;
                min-width: 65px;
                display: flex;
                aspect-ratio: 1/1;
                align-items: center;
                justify-content: center;
                width: auto;
                color: white;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            &:hover {
                color: #0063d8;

                span {
                    i {
                        transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        -o-transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.homeSubmit {
    background-color: #2397C8;
    color: white;

    &:hover {
        background-color: $btnColor1;
        color: white;

        svg {
            path {
                fill: $btnColor1;
            }

            transform: translateX(10px);
            -webkit-transform: translateX(10px);
            -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
            -o-transform: translateX(10px);
        }
    }
}

.contactImg {
    object-fit: cover;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.readyToSpeak {
    div p span {
        color: #2397C8;
    }
}

.callUsBtn {
    border: 1px solid #2397C8;
    color: #2397C8;

    &:hover {
        background-color: #2397C8;
        color: white;
    }
}

.fontColorBlue {
    color: #2397C8;
}

.accentBackground {
    background-color: #2397C8;
    height: 250px;
    @media (max-width: 991px) {
        display: none;
    }
}

.homeContactControl{
    @media (min-width: 991px) {
        margin-top: -215px;
    }
}

.contactUsImg {
    object-fit: cover;
    overflow: hidden;
}

.heightControlContact {
    height: 80%;
    @media (max-width: 1023) {
        height: auto;
    }
}

.homeContactText {
    color: white;
    @media (max-width: 1023px) {
        color: black;
    }
}
