$hamburgerButton: #0075FF;
$hamburgerButtonHover: #0063d8;
$serviceContainer: #002B3C;
$btnColor1: #002B3B;
$btnColor1Hover: #006489;
$btnColor2: #038CBF;
$btnColor2Hover: #026387;
$homeNews: #F1F1F1;

$yesavaOne: "Yeseva One", serif;
$poppins: "Poppins", sans-serif;
