$hamburgerButton: #2397C8;
$hamburgerButtonHover: #084C69;
$serviceContainer: #084C69;
$btnColor1: #084C69;
$btnColor1Hover: #2397C8;
$btnColor2: #2397C8;
$btnColor2Hover: #084C69;
$homeNews: #F1F1F1;

$yesavaOne: "Montserrat", sans-serif;
// $poppins: "Arial", sans-serif;

