body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif !important;
}

@media (min-width: 1400px) {
  .px-xxl-6 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
  }
  .ps-xxl-6 {
    padding-left: 10rem !important;
  }
  .pe-xxl-6 {
    padding-right: 10rem !important;
  }
}
.transitionNormal {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navLogo {
  width: 40px;
}

header .navbar-brand svg {
  width: auto;
  height: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

header.homepage .navbar-brand svg {
  width: auto;
  height: 0;
}

.sticky-header header {
  background-color: #2397C8;
  animation: headerBg 0.3s 1 ease-in;
  -webkit-animation: headerBg 0.3s 1 ease-in;
}
.sticky-header header .navbar-brand svg {
  width: auto;
  height: 40px;
}

@keyframes headerBg {
  from {
    background-color: rgba(3, 140, 191, 0);
  }
  to {
    background-color: rgb(3, 140, 191);
  }
}
@keyframes headerBgRev {
  from {
    background-color: rgb(3, 140, 191);
  }
  to {
    background-color: rgba(3, 140, 191, 0);
  }
}
.hamburger {
  background-color: #2397C8;
}
.hamburger .navbar-toggler-icon {
  background-image: none;
}
.hamburger .navbar-toggler-icon .hamSvg {
  width: 18px;
}
.hamburger:hover {
  background-color: #084C69;
}

.infoSection p {
  color: #9E9B9B;
}
.infoSection .infoBtn {
  background-color: #084C69;
  color: white;
  width: 150px;
}
.infoSection .infoBtn.infoBtnChange {
  background-color: #2397C8;
}
.infoSection .infoBtn.infoBtnChange:hover {
  background-color: #084C69;
}
.infoSection .infoBtn:hover {
  background-color: #2397C8;
}

.exploreAllBtn {
  color: white;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
}
.exploreAllBtn .fa-arrow-right {
  margin-left: 10px;
}
.exploreAllBtn:hover {
  color: #2397C8;
}
.exploreAllBtn:hover .fa-arrow-right {
  margin-left: 15px;
}

.homeServicePill a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
}
.homeServicePill a:hover {
  background-color: #2397C8;
  border-color: #2397C8;
}

.homeServiceContainer {
  background-color: #084C69;
}
.homeServiceContainer .homeServiceInnerContainer {
  color: white;
}

.homeServiceTab .nav-link {
  color: white;
}
.homeServiceTab .nav-link.active {
  border-bottom: 1px solid white;
}

.homeServiceCard {
  color: black;
}
.homeServiceCard .homeServiceIcon {
  height: 56px;
}
@media (min-width: 992px) {
  .homeServiceCard p {
    min-height: 90px;
  }
}

.homeServiceBtn a {
  color: white;
  border: 1px solid white;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.homeServiceBtn a:hover {
  color: #084C69;
  border: 1px solid white;
  background-color: white;
}
.homeServiceBtn hr {
  height: 2px;
  border: none;
  background-color: white;
}

.square {
  aspect-ratio: 1/1;
}

.caseBtnHolder {
  position: absolute;
}

.seeMoreCaseBtn {
  background-color: black;
  color: white;
}
.seeMoreCaseBtn:hover, .seeMoreCaseBtn:active, .seeMoreCaseBtn:focus {
  background-color: #2397C8 !important;
  color: white !important;
}

.homeCaseCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.greyHr {
  border-color: #818181;
  opacity: 1;
}

.backHr {
  opacity: 1;
  border-color: #000000;
}

@media (min-width: 668px) {
  .homeCaseBody h4,
  .homeCaseBody p {
    min-height: 95px;
  }
}
.homeCaseBody p {
  color: #686868;
}
.homeCaseBody .caseBodyCompany {
  width: 60px;
}
.homeCaseBody .caseBodyCompany .caseBodyLogo {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
.homeCaseBody .caseBodyCompany .caseBodyLogoText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.homeCaseBody .caseBodyCompany .caseBodyLogoText.nameA {
  background-color: #002B3B;
}
.homeCaseBody .caseBodyCompany .caseBodyLogoText.nameB {
  background-color: #DA8181;
}
.homeCaseBody .caseBodyCompany .caseBodyLogoText.nameC {
  background-color: #39A09A;
}
.homeCaseBody a {
  border: 1px solid #196A8C;
  color: #196A8C;
}
.homeCaseBody a:hover {
  border: 1px solid #248ED8;
  background-color: #248ED8;
  color: white;
}

.homeAbout {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.homeAbout::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 26, 35, 0.7);
  z-index: -1;
}
.homeAbout .learnMoreBtn {
  background-color: #2397C8;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.homeAbout .learnMoreBtn:hover {
  background-color: #1e75b4;
}

.homeExpertCard .homeExpertCardHead {
  overflow: hidden;
  position: relative;
}
.homeExpertCard .homeExpertCardHead > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-height: 100%;
  z-index: 1;
}
.homeExpertCard .homeExpertCardHead .homeExpertIcon {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
}
.homeExpertCard .homeExpertCardHead .homeExpertIcon a {
  background-color: #2397C8;
}
.homeExpertCard .homeExpertCardHead .homeExpertIcon a img {
  max-width: 40px;
  max-height: 40px;
}
.homeExpertCard .homeExpertCardHead .homeExpertIcon a:hover {
  background-color: #084C69;
}

.homeContactSection {
  background-image: url("../images/leedsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homeContactSection .leedHolder {
  color: white;
  background-color: #2397C8;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeContactSection .leedHolder a {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.homeContactSection .leedHolder a:hover svg {
  transform: translateX(10px);
}

.borderBottom {
  border-bottom: 1px solid black;
}

.homeNews {
  background-color: #F1F1F1;
}
.homeNews .resourceLink {
  text-decoration: none;
  color: #000000;
  border: 1px solid black;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 210px;
}
.homeNews .resourceLink:hover {
  background-color: black;
  color: white;
}
.homeNews .resourceLink:hover svg {
  transform: translateX(10px);
}
.homeNews .resourceLink:hover svg path {
  fill: white;
}
.homeNews .homeBlogImage {
  aspect-ratio: 542/313;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.homeNews hr {
  border: 1px solid #000000;
  opacity: 0.6;
}
.homeNews .linkControl a {
  color: #000000;
}
.homeNews .linkControl a:hover {
  text-decoration: none;
}
.homeNews .linkControl .homePlayButton {
  text-decoration: none;
}
.homeNews .linkControl .homePlayButton span {
  background-color: #0063d8;
  min-width: 65px;
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  width: auto;
  color: white;
}
.homeNews .linkControl .homePlayButton span svg {
  width: 30px;
  height: 30px;
}
.homeNews .linkControl .homePlayButton:hover {
  color: #0063d8;
}
.homeNews .linkControl .homePlayButton:hover span i {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.homeSubmit {
  background-color: #2397C8;
  color: white;
}
.homeSubmit:hover {
  background-color: #084C69;
  color: white;
}
.homeSubmit:hover svg {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
.homeSubmit:hover svg path {
  fill: #084C69;
}

.contactImg {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.readyToSpeak div p span {
  color: #2397C8;
}

.callUsBtn {
  border: 1px solid #2397C8;
  color: #2397C8;
}
.callUsBtn:hover {
  background-color: #2397C8;
  color: white;
}

.fontColorBlue {
  color: #2397C8;
}

.accentBackground {
  background-color: #2397C8;
  height: 250px;
}
@media (max-width: 991px) {
  .accentBackground {
    display: none;
  }
}

@media (min-width: 991px) {
  .homeContactControl {
    margin-top: -215px;
  }
}

.contactUsImg {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.heightControlContact {
  height: 80%;
}
@media (max-width: 1023) {
  .heightControlContact {
    height: auto;
  }
}

.homeContactText {
  color: white;
}
@media (max-width: 1023px) {
  .homeContactText {
    color: black;
  }
}

.ourServiceBanner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ourServiceBanner .serviceBannerText {
  min-height: 500px;
}
.ourServiceBanner .serviceBannerText h3 {
  font-family: "Montserrat", sans-serif;
}

.overviewSection {
  background-color: #2397C8;
}
.overviewSection .overviewImage {
  background-image: url("../images/serviceOverview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.serviceGrid {
  background-color: #F6F6F6;
}
.serviceGrid .serviceCard {
  border-top: 4px solid #019EDA;
  background-color: #ffffff;
  height: 100%;
}
.serviceGrid .serviceCard .serviceIcon {
  height: 60px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.serviceGrid .serviceCard h4 {
  min-height: 60px;
}
.serviceGrid .serviceCard p {
  min-height: 70px;
}
.serviceGrid .serviceCard a {
  text-decoration: none;
  color: #00719C;
}
.serviceGrid .serviceCard a:hover {
  color: #00121a;
}

.moreInfoSection {
  background-color: #084C69;
}
.moreInfoSection h3 {
  font-family: "Montserrat", sans-serif;
}
.moreInfoSection .moreBtnContainer a {
  background-color: #2397C8;
  color: white;
}
.moreInfoSection .moreBtnContainer a:hover {
  background-color: white;
  color: #2397C8;
}
.moreInfoSection .moreInfoBg {
  background-image: url("../images/moreInformationBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.serviceSubBtn {
  background-color: #2397C8;
  color: white;
}
.serviceSubBtn:hover {
  background-color: #084C69;
  color: white;
}

.bgColor {
  background-color: #084C69;
}

.gridYellow {
  background-color: #196A8C;
}
.gridYellow .textColor {
  color: white;
}/*# sourceMappingURL=style.css.map */